<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

 <%= link_to 'remove', article_comment_path(comment.article,comment),
               method: :delete %>
</p>